logging:
  level:
    org.springframework: INFO
    org.hibernate: INFO
    org.hibernate.stat: DEBUG
    com.ninjaone.dundie_awards: DEBUG

springdoc:
  api-docs:
    path: /openapi
server:
  port: 3000

spring:
  devtools:
    restart:
      enabled: true
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: password
  jpa:
    show-sql: true
    properties:
      hibernate:
        generate_statistics: true
#      javax:
#        persistence:
#          schema-generation:
#            scripts:
#              action: create
#              create-target: create.sql
#              create-source: metadata
#    url: jdbc:postgresql://localhost:5432/postgres
#    username: postgres
#    password: postgres
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: password
    listener:
      simple:
        # Instead of putting the message back onto the source queue after an error,
        default-requeue-rejected: false
  thymeleaf: # Thymeleaf
    cache: false
    mode: HTML
    encoding: UTF-8
    prefix: file:src/main/resources/static/
  web:
    resources:
      static-locations: file:src/main/resources/static/
      cache:
        period: 0
  main:
    banner-mode: off

management:
  endpoints:
    web:
      exposure:
        # In a real app, secure non-trivial endpoints
        include: '*'